# cp env.example .env

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=postgres
DB_SSL_MODE=disable
DB_MAX_CONNECTION_POOL=4 # number of connections = ((core_count * 2) + effective_spindle_count)
DB_MAX_IDLE_CONNECTIONS=4
DB_CONNECTIONS_MAX_LIFETIME=300s
