# cp env.example .env

API_NAME=name
API_HOST=localhost
API_PORT=3080
API_REQUEST_LOG=false
API_TOKEN_SECRET=secret

DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=postgres
DB_SSL_MODE=disable
DB_MAX_CONNECTION_POOL=4 # number of connections = ((core_count * 2) + effective_spindle_count)
DB_MAX_IDLE_CONNECTIONS=4
DB_CONNECTIONS_MAX_LIFETIME=300s

EMAIL_SMPT=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
